batch_catalogue.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2016 rel. 2 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="CATALOG">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BATCH" maxOccurs="unbounded" type="batchType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="batchType">
             <xs:sequence>
               <xs:element name="CODE" type="xs:string"/>
               <xs:element name="NAME" type="xs:string"/>
               <xs:element name="DESCRIPTION" type="xs:string"/>
               <xs:element name="OUTPUT" type="xs:string"/>
               <xs:element name="INPUT" type="inputType"/>
             </xs:sequence>
    </xs:complexType>
	   
	<xs:complexType name="inputType">
             <xs:sequence>
                <xs:sequence>
				    <xs:element name="PARAM" maxOccurs="unbounded" type="paramType"/>
			    </xs:sequence>
             </xs:sequence>
    </xs:complexType>
	
	<xs:complexType name="paramType">
             <xs:sequence>
               <xs:element name="PARAMNAME" type="xs:string"/>
               <xs:element name="DEFAULTVALUE" type="xs:string"/>
               <xs:element name="LABEL" type="xs:string"/>
             </xs:sequence>
    </xs:complexType>
	
</xs:schema>
